;; shadow-cljs configuration
{:source-paths
 ["src" "test"]

 :dependencies
 [[lilactown/helix "0.1.7"]
  [binaryage/devtools "0.9.7"]]

 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn dbyc.app/init}}
   :devtools {:http-root "public"
              :http-port 8080
              :preloads [devtools.preload]}}}}
